:root {
    --header-footer-height: 50px;
    --navbar-height: var(--header-footer-height);
    --footer-height: var(--header-footer-height);
    --toolbar-sidebar-intersect: 50px;
    --sidebar-width: 200px;
}
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
html, body {
    /* background-color: black; */
    overflow: hidden;
}
body {
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}
#overlayWindow{
    height: 100%;
    width: 0;
    visibility: hidden;
    background-color: rgba(4, 4, 4, 0.8);
    z-index: 1;
    color: white;
    transition: 0.5s;
    overflow: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.windowMenu {
    width: 50%;
    height: 70%;
    background-color: bisque;
}
.closeWindow {
    width: 70px;
    line-height: 30px;
    border-radius: 20px;
    background-color: aquamarine;
    color: black;
}
.closeWindow:hover {
    cursor: pointer;
}
.navbar {
    background-color: rgb(135, 55, 55);
    position: fixed;
    top: 0px;
    height: var(--navbar-height);
    left: 0px;
    right: 0px;
    transition: 0.5s;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.navitem {
    color: white;
    line-height: var(--navbar-height);
    width: 100%;
}
.navitem:hover {
    border-bottom: 4px solid;
}
/* Main Section */
.section2 {
    position: fixed;
    top: var(--verticle-intersect);
    bottom: var(--footer-height);
    left: 0px;
    right: 0px;
}
.footer {
    background-color: green;
    position: fixed;
    height: var(--footer-height);
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: 0.5s;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.toolbar {
    background-color: rgb(173, 57, 165);
    position: fixed;
    top: var(--navbar-height);
    bottom: var(--footer-height);
    left: 0px;
    width: var(--toolbar-sidebar-intersect);
    transition: 0.5s;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.toolbutton {
    width: 98%;
    line-height: 10px;
    height: 12px;
    padding: 12px;
    text-align: center;
    transition: 0.5s;
}
.toolbutton:hover {
    border-left: 3px solid;
    color: white;
}
.sidebar {
    background-color: red;
    position: fixed;
    top: var(--navbar-height);
    bottom: var(--footer-height);
    left: var(--toolbar-sidebar-intersect);
    /* right: calc(var(--toolbar-sidebar-intersect) + var(--sidebar-width)); */
    width: var(--sidebar-width);
    transition: 0.5s;
}
.sidebarbutton {
    background-color: seagreen;
    line-height: 45px;
    padding-left: 10px;
    color: white;
    margin: 3px;
    text-align: left;
}
.sidebarbutton:hover {
    background-color: blueviolet;
}
.main-content {
    position: fixed;
    top: var(--navbar-height);
    bottom: var(--footer-height);
    right: 0px;
    left: calc(var(--toolbar-sidebar-intersect) + var(--sidebar-width));
    transition: 0.5s;

    display: flex;
    flex-flow: row nowrap;
}
.sec2 {
    flex-grow: 1;
    padding: 4px;
    overflow-y: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#sidebarbutton3 {
    margin-bottom: 0px;
}
#areaOptions {
    background-color: lightgrey;
    display: none;
    margin: 0px 3px;
    overflow-y: auto;
    z-index: 2;
    height: 200px;
}
.areaOption {
    line-height: 45px;
    width: 100%;
}
.areaOption:hover {
    background-color:darkslategrey;
    color: white;
}
.section2A {
    background-color: turquoise;
}
.section2B {
    background-color: pink;
}
.section2C {
    background-color: lemonchiffon;
}
.section2D {
    background-color: chocolate;
    display: none;
}
.section2E {
    background-color: teal;
    display: none;
}
.section2F {
    background-color: tan;
    display: none;
}
.section2G {
    background-color: lightcoral;
    display: none;
}
.section2H {
    background-color: fuchsia;
    display: none;
}
.areaBox {
    width: 200px;
    height: 180px;
    background-color: black;
    margin: 3px;
}